<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Login Usuário</title>
</head>
<body class="bg-cyan-600 h-screen items-center flex justify-center">
    <form action="" class="flex gap-24">
        <div class="text-slate-900 max-w-80 text-6xl flex items-center font-semibold">
            App Gestão Financeira
        </div>
        <div class="space-y-8 bg-cyan-950 rounded-md p-20">
            <input type="text" name="username" 
                class="bg-gray-50 text-gray-900 text-xd rounded w-96 block p-4 focus:outline-none focus:ring-blue-600 focus:ring-2" placeholder="Usuário"
            >
            <input type="password" name="password"
                class="bg-gray-50 text-gray-900 text-xd rounded w-96 block p-4 focus:outline-none focus:ring-blue-600 focus:ring-2" placeholder="Senha"
            >
            <button class="bg-blue-700 w-96 rounded text-white hover:bg-blue-900 p-4">Login</button>
            <a href="" class="block text-center text-white underline underline-offset-2 hover:text-blue-600">Crie sua conta</a>
        </div>
    </form>

    
</body>
</html>